
body {
  background-color: #abc9e7; /* Keep your background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #181717;
}


header {
  text-align: center;
}


nav a {
  text-decoration: none;
  color: white;
  background-color: rgb(49, 94, 77);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
}

nav a:hover {
  background-color: #037a50;
}


h1, h2, h3 {
  text-align: center;
  margin: 20px 0 10px 0;
}


section {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}


p {
  max-width: 800px;
  margin: 10px auto;
  text-align: justify;
}


ul, ol {
  max-width: 600px;
  margin: 10px auto 20px auto;
  padding-left: 20px;
}


img {
  display: block;
  margin: 15px auto;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

/* Lane Map Image */
.lane-map {
  width: 25%;
  height: auto;
}




footer {
  text-align: center;
  padding: 20px 0;
  background-color: #eaf1f8;
  margin-top: 20px;
}


@media (max-width: 768px) {
 
  .lane-map {
    width: 90%;
  }

  
  p {
    text-align: left;
  }
}
